<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>StudentHack | Hardware Library</title>
  <link rel='stylesheet' href="//fonts.googleapis.com/css?family=Duru+Sans|Istok+Web">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/hardware-library.css">
</head>

<body>

  <div class="site-container">

    <header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
      <div class="wrap">

        <div class="title-area">
          <h1 class="site-title" itemprop="headline"><a href="/">Hardware Library</a></h1>
        </div>

    </header>

    <div class="site-inner">
      <div class="wrap">

        <form action="checkoutHardwareFinish" method="POST">
            <label>What's your name, friend?</label>
            <input type="text" name="name" placeholder="Your name">
            <button type="submit">Checkout</button>
        </form>
      </div>
    </div>

    <!-- <footer class="site-footer">
      <p>Copyright &copy; 2015 by <a href="http://bradonomics.com/">Brad West</a> | SimpleSheets Shopping Cart</p>
    </footer> -->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/simpleCart.min.js"></script>
    <script src="js/handlebars.min.js"></script>
    <script src="js/sheetrock.min.js"></script>
    <script src="js/main.js"></script>

  </div>

</body>

</html>
